html,
body {
  height: 100%;
  margin: 0;
}

.container-body {
  background-image: url("assets/vegas.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
}

.board {
  width: 1200px;
  height: 800px;
  margin: auto;
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0.7);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.board-dices {
  background-image: url("assets/pokerTable.jpg");
  background-size: cover;
  width: 70%;
  border: 20px solid #552510;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#diceFace {
  font-size: 200px;
}

.board-history {
  width: 15%;
  height: 700px;

  background-color: #202225;
  color: #d7d7db;
  text-align: center;
}

.history-text {
  height: 600px;
}

.button {
  width: 150px;
  height: 50px;
  background-color: #ff0042;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000;
}
